{
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
